body {
  background-color: white;
  color: black;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

a :hover {
  text-decoration: none;
  color: white;
}

.Twitch {
  display: inline-block;
}

.Spotify {
  display: flex;
  margin-left: 83%;
  margin-top: auto;
}

.top_links {
  font-size: 30px;
}

.D_button {
  display: flex;
  text-align: center;
  border: none;
  text-decoration: none;
  margin-left: 45%;
  margin-top: 1%;
  background-color: rgb(81, 128, 168);
  width: 10%;
  height: 100%;
  font-size: 30px;
}

.Y_button {
  display: flex;
  text-align: center;
  border: none;
  text-decoration: none;
  margin-left: 45%;
  margin-top: 1%;
  background-color: firebrick;
  width: 10%;
  height: 100%;
  font-size: 30px;
}
